<%- include('header') %>

<p>你吗了个BB</p>
<form method="post">
	<input placeholder="题目" type="text" name="title">
	<textarea name="content"></textarea>
	<button>das</button>
</form>

<%- include('footer') %>